.deleteTicketWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	width: 100%;
	font-size: 16px;
}

.buttonWrapper {
	display: flex;
}

.singleButton {
	margin: 20px 10px;
	padding: 10px 35px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(58, 58, 58);
	outline: none;
}

.singleButton:hover {
	filter: brightness(0.9);
}
