/** @format */

.profileHeaderContainer {
	display: grid;
	width: 100%;
	height: auto;
	padding: 20px 30px 30px 30px;
	justify-items: center;
}

.nameHeader {
	font-weight: 400;
}

.subtitleHeader {
	display: flex;
	width: 100%;
	margin: 10px 0;
	justify-content: center;
	color: #555555;
}

.spanHeader {
	width: 100px;
	text-align: center;
}

.locationHeader {
	color: #555555;
}
.location {
	width: 100%;
	text-align: center;
}
