.avatarContainer {
	display: grid;
	justify-content: center;
	position: relative;
	padding: 10px;
	width: 100%;
	height: auto;
}

.avatarBox {
	width: 130px;
	height: 130px;
	position: relative;
}

.largeAvatar {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 0 5px 5px rgb(0 0 0 / 30%),
		inset 0 1px 1px rgb(255 255 255 / 10%);
	cursor: pointer;
	transition: 500ms;
}
.largeAvatar:hover {
	filter: brightness(0.9);
	transition: 500ms;
}

.iconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: white;
	box-shadow: inset -5px 5px 10px 2px var(--main-bg-one),
		inset 5px -5px 10px 2px var(--main-bg-one);
	border: 1px solid rgb(255, 255, 255);
	cursor: pointer;
	filter: brightness(0.95);
}

.iconContainer:hover {
	filter: brightness(0.85);
	transform: scale(0.95);
}
