/* Mobile Styles */
.bugImageDiv {
  width: 90px;
  height: 90px;
}

.bugImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: invert(40%) sepia(98%) saturate(1207%) hue-rotate(325deg) brightness(97%) contrast(76%);
}



/* Small Tablet Styles */
@media screen and (min-width: 620px) {

}

/* Large Tablet and Laptop Styles */
@media screen and (min-width: 960px) {
  
}



